
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <a class="btn btn-success btn-xs" title="Detalles" href="../../Paciente/Create"> <span class="glyphicon glyphicon-plus"></span>Agregar Nuevo Paciente</a>
    <a class="btn btn-success btn-xs" title="Detalles" href="../../Paciente/Lista"> <span class="glyphicon glyphicon-list"></span>Ver Lista de Pacientes</a>
</div>
